@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Georgian-1";
  src: url("./assets/fonts/bpg_arial_2009.ttf");
}

* {
  font-family: "Georgian-1";
}

.boxShaddowDropDown {
  box-shadow: 2px 4px 8px 0px #00000014;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-transparent {
  scrollbar-color: transparent transparent;
}

.scrollbar-track-transparent {
  scrollbar-color: transparent transparent;
}
